<div class="view">
    <app-side-menu [step]="step" [steps]="[
       'Beschreibung',
       'Durchmesser eingeben',
        'Ergebnis',
   ]" (changeStepEvent)="setStep($event)"></app-side-menu>
    <div class="content">
        <app-step [display]="step == 1">
            <p> Mit dem Durchmesser eines Kreises kann hier der Umfang berechnet werden. ✔
            </p>
        </app-step>
        <app-step [display]="step == 2">
            <p>
                Bitte geben Sie den Durchmesser ein:
            </p>
            <input type="number" placeholder="Durchmesser..." [(ngModel)]="diameter">
        </app-step>
        <app-step [display]="step == 3">
            Ergebnis : {{Math.PI * diameter}}
        </app-step>
        <app-next-button [step]="step" [end]="3" (next)="incrementStep()" (reset)="reset()"></app-next-button>
    </div>
</div>