<div class="layout">
    <div class="layout__container">
        <div class="layout__navbar">
            <div class="layout__navbar-brand">
                <span class="layout__navbar-brand-text"> AUFGABE</span>
            </div>
            <div class="layout__navbar-user-avatar">
                <img class="layout__navbar-user-avatar-image" src="assets/images/user-avatar.png" alt="User Avatar">
            </div>
        </div>
        <div class="layout__content">
            <div class="layout__content-sidebar"></div>
            <div class="layout__content-main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>