.step{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
    margin-top: 150px;
    color: rgba(94,68,254,1);
    font-size: 20px;
    font-weight: 600;
}