<div class="view hypotenuse">
    <app-side-menu [step]="step" [steps]="[
       'Description',
       'Input adjacent',
         'Input opposite',
            'Calculate',
   ]" (changeStepEvent)="setStep($event)"></app-side-menu>
    <div class="content">
        <app-step [display]="step == 1">
            <p> Calculate the length of the hypotenuse using the adjacent and opposite sides ✔
            </p>
        </app-step>
        <app-step [display]="step == 2">
            <p>
                Please enter the length of the adjacent side:
            </p>
            <input type="number" placeholder="adjacent" [(ngModel)]="adjacent">
        </app-step>
        <app-step [display]="step == 3">
            <p>
                Please enter the length of the opposite side:
            </p>
            <input type="number" placeholder="opposite" [(ngModel)]="opposite">
        </app-step>
        <app-step [display]="step == 4">
            Result : {{Math.sqrt(adjacent*adjacent + opposite*opposite)}}
        </app-step>
        <button class="next-button" (click)="incrementStep()">next</button>
    </div>
</div>