.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.next-button{
    padding: 10px 20px;
    background: rgba(94,68,254,1);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: 200px;
    align-self: center;
}