<div class="view hypotenuse">
    <app-side-menu [step]="step" [steps]="[
       'Beschreibung',
       'Geben Sie die Nummer ein',
         'Geben Sie den Divisor ein',
            'Ergebnis',
   ]" (changeStepEvent)="setStep($event)"></app-side-menu>
    <div class="content">
        <app-step [display]="step == 1">
            <p>
                Ausgehend von einer Zahl wird der ganzzahlige Rest einer Division berechnet. ✔
            </p>
        </app-step>
        <app-step [display]="step == 2">
            <p>
                Bitte geben Sie die Nummer ein:
            </p>
            <input type="number" placeholder="number..." [(ngModel)]="mainNumber">
        </app-step>
        <app-step [display]="step == 3">
            <p>
                Bitte geben Sie den Divisor ein:
            </p>
            <input type="number" placeholder="divisor..." [(ngModel)]="divisor">
        </app-step>
        <app-step [display]="step == 4">
            Ergebnis : {{mainNumber%divisor}}
        </app-step>
        <app-next-button [step]="step" [end]="4" (next)="incrementStep()" (reset)="reset()"></app-next-button>
    </div>
</div>