<div class="home view">
    <div class="side-menu"></div>
    <div class="content">
        <h1 class="content__top-header">Start der Applikation</h1>
        <h1 class="content__header">Willkommen</h1>
        <p class="content__text">
            Bei welcher Berechnung wollen Sie unterstützt werden? <br/>
            Sie können aus dem Menü in der Navigationsleiste auswählen, was Sie tun möchten. Es gibt 3 Möglichkeiten: Hypotenuse berechnen, ganzzahligen Rest ausgeben und Umfang berechnen.
        </p>
    </div>
</div>